.WorkoutCard {
  border: 3px solid rgb(89 81 144);
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  width: 200px;
  text-align: center;
  transition: transform 0.3s ease;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 5px 5px 10px 2px rgba(80, 54, 118, 0.826);
  }

  h3 {
    text-transform: capitalize;
  }

  svg {
    color: rgb(87 106 187);
  }
}
