.search-bar {
  display: flex;
  justify-content: center;
}

.ExerciseCard {
  border: none;
  // border-style: solid;
  height: 280px;
  background-color: #fff;
  // box-shadow: 0px 0px 15px rgb(66, 140, 197); ;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.ExerciseCard:hover {
  transform: translateY(-5px);
}

.cardGrid {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  justify-content: center;
  row-gap: 18px;
  column-gap: 18px;
  margin-top: 20px;
}

.load-more-button {
  all: unset;
  cursor: pointer;
  text-decoration: underline;
}

.load-more-button:hover {
  color: navy;
}