.WorkoutInfo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white; 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  z-index: 1000;

  .divElements {
    background-color: white; 
    border: 2px solid navy;
    border-radius: 10px;
    box-shadow: 0 4px 6px navy; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 30px;
    width: 90%;
    max-width: 500px;
    min-height: 300px;
    overflow: hidden; 

    .closeBtn {
      align-self: flex-end;
      background-color: navy;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 5px 10px;
      cursor: pointer;
      font-size: 16px;
    }

    .workoutDetails {
      width: 100%; 
      text-align: center; 

      h2, h3 {
        margin-bottom: 10px;
      }

      .deleteBtn, .editBtn {
        width: 20%; 
        padding: 10px;
        margin-top: 10px;
        background-color: navy;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
    }
    
    .exercise {
      width: 100%; 
      padding: 5px 0; 
      text-align: center;
      cursor: pointer;
      color: navy;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
