.workout-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
}
.workout-modal-content {
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
}
close-workout-modal-btn {
  position: absolute;
  top: 10;
  right: 10;
  font-weight: bold;
}