$foreground: rgb(10, 15, 57);
$background: #fff;
$secondary: rgb(105, 172, 216);
$error: #f88078;

$gap: 25px;

.tw-sign-up--container,
.tw-login--container{
    min-width: 280px;
    width: 100vw;
    background-color: $background;
    color: $foreground;
    .tw-sign-up-success{
        text-align: center;
        min-height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 2rem;
    }
      .tw-sign-up-success,
      .tw-sign-up,
      .tw-login{

        padding: 0 20px 30px;
        max-width: 514px;
    
        margin: 120px auto 0;
        border: 1px solid #ddd;
        // border: .25px solid transparent;
        // box-shadow: 0px 0px 8px #ddd;
        border-radius: 5px;
        // transform: translateY(-10%);
        h5{
            color: $error;
        }
        
        label{
            display: block;
            margin-top: $gap;
        }   
        input{
            &[type="text"],
            &[type="email"],
            &[type="password"],
            &[type="submit"]{

                display: flex;
                box-sizing: border-box;
                // align-items: center;
                
                width: 100%;
                height: 40px;

                margin-top: 7px;
                padding: 0 15px;

                border: none;
                border-radius: 10px;
                background-color: $background;
                box-shadow: 0px 0px 8px #ddd;

                font-family: Arial;
                font-size: 1rem;
                color: $foreground;

                &:focus{
                    outline: 1.25px solid #ddd;
                }
            }

            &[type="submit"]{
                background-color: $foreground;
                color: $background;
                margin: $gap 0;
                cursor: pointer;
                transition: all .1s ease-in-out;
                &:hover{
                    color: $secondary;
                    box-shadow: 0px 0px 8px #ddd;
                }
            }
        }

        &--name{
            display: flex;
            gap: 4%;
            & label {
                width: 48%;
            }
        }
      }
    //   .container .content img{
    //     width: 100%;
    //     height: auto;
    //   }
    //   .container .content p{
    //     font-size: 4vw;
    //     text-transform: uppercase;
    //     padding: 26px 0;
    //   }
    //   .container .content a{
    //     font-size: 3.5vw;
    //     color: #002e5a;
    //     text-decoration: none;
    //   }
      
    //   @media all and (max-width: 280px){
    //     .container .content p{
    //       font-size: 11px;
    //     }
    //     .container .content a{
    //       font-size: 11px;
          
    //     }
    //   }
      
    //   @media all and (min-width: 530px){
    //     .container .content p{
    //       font-size: 22px;
    //       padding: 36px 0;
    //     }
    //     .container .content a{
    //       font-size: 20px;
          
    //     }
    //   }
}