.WorkoutInfo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(24, 27, 69); 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  z-index: 1000;

  .divElements {
    background-color: white; 
    border: 2px solid navy;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(66, 140, 197); 
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 2vw;
    width: 90%;
    max-width: 500px;
    min-height: 300px;
    overflow: auto; 
    max-height: 80vh;

    .closeBtn {
      align-self: flex-end;
      background-color: navy;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 1vw 2vw;
      cursor: pointer;
      font-size: calc(10px + 1vw);
    }

    .workoutDetails {
      width: 100%; 
      text-align: center; 
      flex-wrap: wrap; 

      h3 {
        margin-bottom: 10px;
        text-transform: capitalize;
        font-size: 16px;
        
      }

      div.exercise {
        text-transform: capitalize;
      }

      .deleteBtn, .editBtn {
        width: fit-content; 
        font-size: 14px;
        padding: 8px 12px;
        margin-top: 10px 0;
        background-color: navy;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          transform: translateY(-5px);
          box-shadow: 5px 5px 2px 1px rgba(80, 54, 118, 0.826);
        }
      }
    }
    
    .exercise {
      width: 100%; 
      padding: 5px 0; 
      text-align: center;
      cursor: pointer;
      color: navy;
      font-size: 14px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
@media (max-width: 400px) {
  .WorkoutInfo .divElements {
    padding: 10px; // Adjust padding for very small screens
    max-width: 95%; // Utilize more of the screen width
    .closeBtn, .deleteBtn, .editBtn {
      padding: 10px 15px; // Adjust button sizing
      font-size: 15px; // Adjust font size
    }
  }
}

@media (max-width: 600px){
  .WorkoutInfo .divElements {
    padding: 15px;
    max-width: 90%;

    .closeBtn, .deleteBtn, .editBtn {
      padding: 8px 16px;
    }
  }
}

