.Workouts {
  padding: 20px;

  button {
    margin: 10px; 
    padding: 10px;
    background-color: navy;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    &:hover {
      transform: translateY(-5px);
      box-shadow: 5px 5px 2px 1px rgba(80, 54, 118, 0.826);
    }
  }

  .workoutCardsContainer {
    display: flex;
    flex-wrap: wrap;
  }

  .deleteBtn {
    margin-bottom: 20px;
    // padding: 10px;
    // background-color: navy;
    // color: white;
    // border: none;
    // border-radius: 5px;
    // cursor: pointer;
  }
}